@font-face {
  font-family: 'SouthbankLT';
  src: url('../assets/fonts/SouthbankLT.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'SouthbankLT';
    padding: 20px;
    background-color: #ffffff;
    color: #ffffff;
  }
  
  .logo img {
    max-width: 200px;
    height: auto;
    margin-left: 30px;
  }
  
  .nav {
    flex-grow: 1;
    margin-left: 500px;
  }
  
  .navList {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
  
  .navItem {
    text-decoration: none;
    color: #000000;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
  }
  
  .navItem:hover {
    background-color: #c6c6ca;
  }
  
  .actions {
    display: flex;
    gap: 0.5rem;
    padding-right: 30px;
  }
  
  .button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #c6c6ca;
  }
  